 :root {
     --primary1: #347B98;
     --accent1: #F7F0D4;
     --primary2: #FCCB1a;
     --accent2: #C21460;
     --dark: #092834;
 }

.primary1-bg {
   background-color: var(--primary1);
}

.primary2-text {
   color: var(--primary2);
}

.accent1-text {
   color: var(--accent1);
}

.accent1-bg {
   background-color: var(--accent1);
}

.accent2-text {
   color: var(--MonoDarkestGreen);
}

.accent2-border {
   border-color: var(--accent2);
}

.dark-bg {
   background-color: var(--dark);
}

.dark-text {
   color: var(--dark);
}

a:link,
a:visited,
a:hover,
a:active {
   color: var(--dark);
}