
* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10%;
  padding: 1em;
  text-align: center;
  position: relative;
}

/* Set nav to sticky*/
nav {
    position: sticky;
    top: 0;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

/*logo brown original color #775732, logo tan original color was #ca9352*/
#headerLogoContainer {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#logoimage {
    max-width: 150px;
    width: 4vw;
}

/* set this to relative to parent container
.headerText {
    position: absolute;
    bottom: 0;
}
*/


#background {
  /*width: 160px;
  height: 160px;
  background-image: url('../images/bankers-250w.jpg');*/
  animation-name: april;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  /* animation-iteration-count: infinite; change this to one */
}

@keyframes april {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
}

main {
  width: 99vw;
  max-width: 1100px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}


.socialNav {
  flex: 0 1 20vw;
  margin-right: 15px;
  min-width: 20vw;
}

.socialNav ol {
  list-style-type: none;
  padding: 0;
}

section {
  flex: 1 1 auto;
  margin: 0px;
}

.float {
  float: left;
}
article {
  width: 100%;
  margin: 0px;
}

.blogPost{
  width: 34vw;
  margin-top: 20px;
}

.aside {
  flex: 0 1 30vw;
  /*float: right;*/
}
/* used for main in blog.html, and it holds all the blog posts*/
.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

/* selects all the direct children of container class from blog.html*/
.container > * {
  flex: 0 1 auto;
  align-self: stretch;
}

/* used for main in index.html, and it holds 3 sections - social nav, about julie, and aside*/
.threeColumnContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  gap: 1rem;
}



footer {
  width: 100%;
  height: 100%;
  clear: both;
  padding-top: .5em;
}

.hero-image {
  height: 70vh;
  position: relative;
}

.hero-text {
  text-align: center;
  font-size: 36px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

figure{
  margin: 0px;
}

figcaption {
  padding: 2px;
  clear: both;
}

.imageHolder {
  float: left;
}

.photoJulie {
  float: right;
  transform: rotate(10deg);

}
/* .clearfix {
  overflow: auto;
} */

.bankers {
  width: 250px;
  max-width: 100%;
  height: auto;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.responsive {
  max-width: 100%;
  height: auto;
}


