
* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10%;
  padding: 1em;
  text-align: center;
  position: relative;
}

/* Set nav to sticky*/
nav {
    position: sticky;
    top: 0;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

/*logo brown original color #775732, logo tan original color was #ca9352*/
#headerLogoContainer {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#logoimage {
    max-width: 150px;
    width: 4vw;
}

/* set this to relative to parent container
.headerText {
    position: absolute;
    bottom: 0;
}
*/
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
}

main {
  width: 92vw;
  max-width: 1100px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

section {
  flex: 1 1 auto;
  margin: 0px;
}

.socialNav {
  flex: 0 1 20vw;
  margin: 0px;
    min-width: 12vw;
}

.socialNav ol {
  list-style-type: none;
  padding: 0;
}

.float {
  float: left;
}
article {
  width: 100%;
  margin: 0px;
}

.blogPost{
  width: 30vw;
}

.aside {
  flex: 0 1 30vw;
  /*float: right;*/
}


footer {
  width: 100%;
  height: 100%;
  clear: both;
  padding-top: .5em;
}

.hero-image {
  height: 70vh;
  position: relative;
}

.hero-text {
  text-align: center;
  font-size: 36px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

figure{
  margin: 0px;
}

figcaption {
  padding: 2px;
  clear: both;
}

.imageHolder {
  float: left;
}

.photoJulie {
  float: right;

}
/* .clearfix {
  overflow: auto;
} */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.bankers {
  width: 250px;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.threeColumnContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  gap: 1rem;
}

/* selects all the direct children of container class */
.container > * {
  flex: 0 1 auto;
  align-self: stretch;
  /*flex-basis: 45%;*/
}

.responsive {
  max-width: 100%;
  height: auto;
}


