body {
  display: grid;
  grid-template-rows: [header-start] 1fr [nav-start] 1fr [main-start] [footer-start] 1fr;
  grid-template-columns: [aside] 1fr [main] 3fr;
  align-items: start;
  grid-template-areas:
    "head head"
    "nav nav"
    "aside main"
    "foot foot";
}

header {
    grid-area: head;
}

nav {
    grid-area: nav;
}
footer {
    grid-area: foot;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}


.twelveParent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.twelveChild {
  grid-column: 1 / 13;
}

.firstThirdChild {
    grid-column: 1 / 5;
}

.secondThirdChild {
    grid-column: 5 / 9;
}

.thirdThirdChild {
    grid-column: 9 / 13;
}



/* copied applicable code from layout.css */
* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10%;
  padding: 1em;
  text-align: center;
  position: relative;
}

nav {
    position: sticky;
    top: 0;
}

/*Style the links inside the navigation bar*/
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
}

main {
  max-width: 1100px;
}

footer {
  width: 100%;
  height: 100%;
  clear: both;
  padding-top: .5em;
}

.responsive {
  max-width: 100%;
  height: auto;
}


