
:root {
  --brown: #342309;
  --black: black;
  --gold: #ad8952;
  --pink: #a96b66;
  --pinkAside: #c58984;
  --darkBackground: #E6D8D0;
  --lightBackground: #F2EEEE;
  --navWhite: #f2f2f2;
  --brightRed: #FF0000;
  --blue: #0000FF;
  --shadowColor: #b7b0b0;
 }

@font-face {
    font-family: 'aliceregular';
    src: url('assets/Alice-Regular-webfont.woff') format('woff'),
         url('assets/Alice-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: var(--brown);
  background-color: var(--darkBackground);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: var(--brown);
}

h1 {
  color: var(--brown);
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 56px;
  font-style: normal;

}

h2, h3, h4, h5, h6 {
  color: var(--brown);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


header {
  background-color: var(--darkBackground);
  color: var(--pink);
  border-color:  var(--brown);
  border-width: medium;
  border-style: dotted;
}

/* Add a dark background color to the top navigation */
.topnav {
  text-align: center;
  background-color:  var(--brown);
  color: var(--navWhite);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: var(--navWhite);
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--navWhite);
  color: var(--black);
}

/* Add a color to the active/current link */
.topnav a:link {
  background-color: var(--brown);
  color: var(--navWhite);
}

.topnav a:active {
  background-color:  var(--brown);
  color: var(--navWhite);
}

.topnav a:visited {
  background-color:  var(--brown);
  color: var(--navWhite);
}

a {
  color: var(--black);
}

a:link {color:  var(--brown);} /* unvisited link */
a:visited {color: var(--black);} /* visited link */
a:hover {color: var(--brown);} /* mouse over link */
a:hover {color: var(--black);} /* mouse over link */
a:active {color: var(--blue);}  /* selected link */

.fringe {
  height: 1vh;
  background-image: repeating-linear-gradient(110deg, var(--brown) 10px, var(--darkBackground) 10px,  var(--brown) 15px, var(--darkBackground) 10px);
}

section {
  color:  var(--brown);
}

article {
  color:  var(--brown);
  background-color: var(--lightBackground);
  border-color: var(--gold);
  border-style:ridge;
  border-radius: 5px;
  padding: 20px;
}

aside {
  background-color: var(--pinkAside);
  color: var(--black);
  padding: .5em;
  font-size: 18px;
  margin-top: 17px;
}

footer {
  background-color: var(--darkBackground);
  color:  var(--brown);
  text-align: center;
  padding-top: .5em;
}

.last {
  color:  var(--brown);
}

#lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 56px;
  font-style: normal;
}

.special {
   color: var(--brightRed)
}

.favorite {
		border-color:  var(--brown);
		border-width: medium;
	}

  .hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(88, 80, 80, 0.5)), url("../images/man-on-sofa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  color: var(--lightBackground);
}

figcaption {
  color:  var(--brown);
  font-style: italic;
  padding: 2px;
}

input[type=submit] {
  position: relative;
  top: 7px;
  left: 0px;
  padding: 12px;
  color: var(--navWhite);
  background-color:  var(--brown);
  font-size: 1em;
  border-radius: 10%;
  box-shadow: 6px 6px 6px var(--shadowColor);
  transition: background-color 2s, top 3s, left 3s, box-shadow 3s;
}

input[type=submit]:hover {
  color: var(--brown);
  background-color: var(--pink);
}

input[type=submit]:active {
  color:  var(--brown);
  background-color: var(--gold);
  position: relative;
  top: 10px;
  left: 10px;
}